<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id= "top"> The Hero's</h1>
    <a href="babbage"> Ingresar a babbage</a><br>
    <a href="berners-lee"> Ingresar a berners-lee</a><br>
    <a href="clarke"> Ingresar a clarke</a><br>
    <a href="hamilton"> Ingresar a hamilton</a><br>
    <a href="hopper"> Ingresar a hopper</a> <br>
    <a href="lovelace"> Ingresar a lovelace</a><br>
    <a href="turing"> Ingresar a turing</a> <br>
    
</body>
</html>